<section id="userBookings">
  <h1 class="page-title">My Bookings</h1>
  <div class="row">
     <ng-container *ngIf="bookings && bookings.length > 0">
      <div *ngFor="let booking of bookings; let i = index" class="col-md-4">
        <div class="card text-center">
          <div class="card-header">
            {{booking.job ? booking.job.category : "Deleted Job"}}
          </div>
          <div class="card-block">
          	<ng-container *ngIf="booking.job">
	            <h4 class="card-title">{{booking.job.title}} - {{booking.job.city | ucwords}} </h4>
	            <p class="card-text booking-desc">{{booking.job.description}}</p>
            </ng-container>	            
	            <p class="card-text booking-days"> {{booking.startAt | formatDate}} - {{booking.endAt | formatDate}} | {{booking.days}} 
	            days</p>

            <p class="card-text"><span>Price: </span> <span class="booking-price-value"> Rs {{booking.totalPrice}}</span></p>
            <a *ngIf="booking.job" class="btn btn-bwm" routerLink="/jobs/{{booking.job._id}}">Go to Event</a>
          </div>
          <div class="card-footer text-muted">
            Created {{booking.createdAt | formatDate}}
            <streambits-review *ngIf="!booking.review && isExpired(booking.endAt)" 
                               [bookingId]="booking._id"
                               (reviewSubmitted)="reviewPublished(i, $event)"></streambits-review>
          </div>
        </div>
      </div>
    </ng-container>
    <div *ngIf="bookings && bookings.length === 0" class="alert alert-warning">
      You have no bookings created go to event section and book your event today.
      <a class="btn btn-bwm" routerLink="/jobs">Available Events</a> <!-- link to /rentals -->
    </div>
  </div>
</section>
