<section id="newRental">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">Create Job</h1>
        <form #jobForm="ngForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text"
                   class="form-control"
                   id="title"
                   name="title"
                   [(ngModel)]="newJob.title"
                   required>
          </div>

          <div class="form-group">
            <label for="city">City</label>
            <input type="text"
                   class="form-control"
                   id="city"
                   name="city"
                   [(ngModel)]="newJob.city"
                   required>
          </div>

          <div class="form-group">
            <label for="street">Street</label>
            <input type="text"
                   class="form-control"
                   id="street"
                   name="street"
                   [(ngModel)]="newJob.street"
                   required>
          </div>

          <div class="form-group">
            <label for="category">Category</label>

            <select class="form-control"
                    id="category"
                    name="category"
                    [(ngModel)]="newJob.category"
                    required>
              <option *ngFor="let category of jobCategories"> {{category}} </option>
            </select>
          </div>

          <div class="form-group">
                <streambits-image-upload (imageUploaded)="handleImageUpload($event)"
                                         (imageError)="handleImageError()">
                </streambits-image-upload>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="5"
                      type="text"
                      class="form-control"
                      id="description"
                   name="description"
                   [(ngModel)]="newJob.description"
                   required>
            </textarea>
          </div>

          <div class="form-group">
            <label for="dailyRate">Daily Rate</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input type="number"
                     name="dailyRate"
                     class="form-control"
                     id="dailyRate"
                     name="price"
                     [(ngModel)]="newJob.price"
                     required>
            </div>
          </div>

          <button (click)="createJob()" 
          		  [disabled]="!jobForm.form.valid || !newJob.image"
          		  type="button" 
          		  class="btn btn-bwm">Submit
          </button>
        </form>
            <div *ngIf="errors.length > 0" class="alert alert-danger">
        		<p *ngFor="let error of errors">
        			{{error.detail}}
        		</p>
        	</div>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">Hundreds of awesome places in reach of few clicks.</h2>
          <img src="assets/images/create-rental.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
