@import 'variables';

.navbar {
  padding: 6px;

  .streambits-search {
    height: 38px;
    width: 300px;
  }


  .navbar-brand {
    margin-right: 30px;
    font-size: 30px;
    letter-spacing: 1px;
    color: $main-color;
    font-weight: 500;

    img {
      height: 40px;
      width: 40px;
      margin-top: 3px;
    }
  }


  .nav-item {
    font-size: 14px;
    .nav-link{
      color: white;

      &:hover, &:focus, &:active {
        box-shadow: none;
        border-color: $main-color !important;
        color: $main-color !important;
      }
    }
}


  .btn-streambits-search {
    border-color: white;
    color: $main-color;


    &:hover, &:focus, &:active {
      background-color: transparent;
      border-color: $main-color !important;
      color: $main-color !important;
      box-shadow: none;
    }
  }

  .dropdown-item {
    font-size: 14px;

    &:active, &:focus {
      background-color: $main-color;
    }
  }
}