<!-- Footer -->
<footer class="page-footer">
<div class="footer-text-1">
    <li class="list-unstyled list-inline">
      <a href="#!">About Us</a>
    </li>
    <li class="list-unstyled list-inline">
        <a href="#!">Contact Us</a>
    </li>
</div>


    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <a href="#" class="fa fa-facebook"></a> &nbsp;
      <a href="#" class="fa fa-twitter"></a> &nbsp;
      <a href="#" class="fa fa-instagram"></a> &nbsp;
      <a href="#" class="fa fa-linkedin"></a> &nbsp;
      <a href="#" class="fa fa-pinterest"></a>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://www.laeventa.com/"> Laeventa.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->