<section id="jobDetails" *ngIf="job">
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <img src="{{job.image}}" alt="">
      </div>
      <div class="col-md-6">
        <!-- Will be replaced with map !!!! -->
        <streambits-map [location]="job.city + ', ' + job.street"></streambits-map>
      </div>
    </div>
  </div>

  <div class="details-section">
    <div class="row">
      <div class="col-md-8">
        <div class="job">
          <h2 class="job-type {{job.category}}">
          Shared
          <streambits-editable-select
            [(entity)]="job"
            [field]="'shared'"
            [options]="[true, false]"
            [style]="{'display': 'inline-block'}"
            [className]="'job-shared'"
            (entityUpdated)="updateJob(job._id, $event)"> 
          </streambits-editable-select>

          <streambits-editable-select
            [(entity)]="job"
            [field]="'category'"
            [options]="jobCategories"
            [className]="'job-category'"
            (entityUpdated)="updateJob(job._id, $event)"> 
          </streambits-editable-select>
          </h2>

          <div class="job-owner">
              <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="">
              <span>{{job.user.username}}</span>
          </div>

          <streambits-editable-input
            [(entity)]="job"
            [field]="'title'"
            [className]="'job-title'"
            (entityUpdated)="updateJob(job._id, $event)"> 
          </streambits-editable-input>
          
          <streambits-editable-input
            [(entity)]="job"
            [field]="'city'"
            [className]="'job-city'"
            (entityUpdated)="updateJob(job._id, $event)"> 
          </streambits-editable-input>

          <streambits-editable-input
            [(entity)]="job"
            [field]="'street'"
            [className]="'job-street'"
            (entityUpdated)="updateJob(job._id, $event)">
          </streambits-editable-input>          

          <streambits-editable-textarea
            [(entity)]="job"
            [field]="'description'"
            [className]="'job-description'"
            [rows]="'6'"
            [cols]="'50'"
            (entityUpdated)="updateJob(job._id, $event)">
          </streambits-editable-textarea>          
          <hr>
          <div class="job-assets">
            <h3 class="title">Assets</h3>
            <div class="row">
              <div class="col-md-6">
                <span><i class="fa fa-location-arrow"></i> Desciption 1</span>
              </div>
              <div class="col-md-6">
                <span><i class="fa fa-desktop"></i> Description 2</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4"> 
        <streambits-job-detail-booking 
        [job]="job"> 
      </streambits-job-detail-booking>
      </div>
    </div>
  </div>
</section>